In [12]:
import polars as pl
import pandas as pd

In [19]:
df = pl.DataFrame({
    "a": [[1, 2, 3], [4, 5, 6]], 
    "b": ["foo", "bar"]
})
df2 = df.explode('a')
df2

shape: (6, 2)
┌─────┬─────┐
│ a   ┆ b   │
│ --- ┆ --- │
│ i64 ┆ str │
╞═════╪═════╡
│ 1   ┆ foo │
│ 2   ┆ foo │
│ 3   ┆ foo │
│ 4   ┆ bar │
│ 5   ┆ bar │
│ 6   ┆ bar │
└─────┴─────┘

In [20]:
df.filter(pl.col('a').list.contains(1))

shape: (1, 2)
┌───────────┬─────┐
│ a         ┆ b   │
│ ---       ┆ --- │
│ list[i64] ┆ str │
╞═══════════╪═════╡
│ [1, 2, 3] ┆ foo │
└───────────┴─────┘

In [9]:
# Create a DataFrame
df = pl.DataFrame({
    "group": ["A", "A", "B", "B", "C"],
    "value1": [10, 20, 30, 40, 50],
    "value2": [100, 200, 300, 400, 500]
})

print(df)

shape: (5, 3)
┌───────┬────────┬────────┐
│ group ┆ value1 ┆ value2 │
│ ---   ┆ ---    ┆ ---    │
│ str   ┆ i64    ┆ i64    │
╞═══════╪════════╪════════╡
│ A     ┆ 10     ┆ 100    │
│ A     ┆ 20     ┆ 200    │
│ B     ┆ 30     ┆ 300    │
│ B     ┆ 40     ┆ 400    │
│ C     ┆ 50     ┆ 500    │
└───────┴────────┴────────┘

In [11]:
# Group by 'group' and aggregate with the first value
result = df.group_by("group").agg([
    pl.col("value1").first(),
    pl.col("value2").first()
])

print(result)

shape: (3, 3)
┌───────┬────────┬────────┐
│ group ┆ value1 ┆ value2 │
│ ---   ┆ ---    ┆ ---    │
│ str   ┆ i64    ┆ i64    │
╞═══════╪════════╪════════╡
│ B     ┆ 30     ┆ 300    │
│ A     ┆ 10     ┆ 100    │
│ C     ┆ 50     ┆ 500    │
└───────┴────────┴────────┘

In [13]:
# Create a DataFrame
df = pd.DataFrame({
    "group": ["A", "A", "B", "B", "C"],
    "value1": [10, 20, 30, 40, 50],
    "value2": [100, 200, 300, 400, 500]
})

print(df)

  group  value1  value2
0     A      10     100
1     A      20     200
2     B      30     300
3     B      40     400
4     C      50     500

In [16]:
df2 = df.groupby("group").agg({
    "value1": "first",
    "value2": "first"
}).reset_index() # need to reset index so that the group column is not the index

In [17]:
df2

  group  value1  value2
0     A      10     100
1     B      30     300
2     C      50     500